.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 50px 50px;
    gap: 10px;
}

.grid-item{
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}