.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 800px;
}


/* Casas brancas: #f0d9b5
Casas pretas: #b58863 */

.black {
    height: 100px;
    width: 100px;
    background-color: #b58863;
}

.white {
    height: 100px;
    width: 100px;
    background-color: #f0d9b5;
}